<div class='wrapper'>
  <p>Here are the places you can find me around the 'net:</p>
  <ul>
    <li><a href='https://math.washington.edu/people/nicolas-courts'>My page</a> on the <a href='https://math.washington.edu/'>UW math website.</a></li>
    <li>You can also take a look at my <a href='https://github.com/NicoCourts'>GitHub account</a> where you can find:</li>
    <ul>
      <li>The code for <a href="https://github.com/NicoCourts/NicoCourts.com">this site</a></li>
      <li>The code for the <a href="https://github.com/NicoCourts/API-server">API</a> powering the blog</li>
      <li>My <a href="https://github.com/NicoCourts/Algebra">algebra notes</a></li>
      <li>Some nascent <a href="https://github.com/NicoCourts/Comp-NT">computational number theory stuff</a> that I think is neat but unfortunately falls pretty low on my priority list.</li>
    </ul>
    <li>My social media accounts (which I honestly have stopped using):</li>
    <ul>
      <li><a href='http://www.facebook.com/ncourts'>Facebook</a></li>
      <li><a href='http://www.twitter.com/nicocourts'>Twitter</a></li>
    </ul>
  </ul>
</div>
