<div class='wrapper'>
  <p>Here are the places you can find me and my work around the 'net:</p>
  <ul>
    <li><a href='https://math.washington.edu/people/nicolas-courts'>My page</a> on the <a href='https://math.washington.edu/'>UW math website.</a></li>
    <li>You can also take a look at my <a href='https://github.com/NicoCourts'>GitHub account</a> where you can find:</li>
    <ul>
      <li>The code for <a href="https://github.com/NicoCourts/NicoCourts.com">this site</a></li>
      <li>The code for the <a href="https://github.com/NicoCourts/API-server">API</a> powering the blog</li>
    </ul>
  </ul>
  
  <p>Recently I have taken to writing notes for talks that I give and/or topics I am learning about. I do my 
  best to include references and make them as clear as possible for my future self, should I need to go back to them.
  Hopefully they can help other people as well!</p>
  <ul>
    <li>
      <em>Brown Representability</em> (<a href="https://github.com/NicoCourts/Brown-Representability/raw/master/Brown-Representability.pdf">pdf</a>, <a href="https://github.com/NicoCourts/Brown-Representability">github</a>)
      <p>Notes for a talk I gave to my homological algebra course that built up to the results in Amnon Neeman's <em><a href="https://www.ams.org/journals/jams/1996-9-01/S0894-0347-96-00174-9/home.html">The Grothendieck Duality Theorem via Bousfield's Techniques and Brown Representability</a></em>.
      Along the way we develop the notion of triangulated categories and of Brown Representability in its original context of (stable) homotopy theory. Eventually we show how Neeman recreated 
      Brown's original argument in the language of triangulated categories to establish important results regarding representability and adjointness of certain classes of functors.</p>
    </li>
    <li id="blurb1">
      <em>Notes on the Grassmannian</em> (<a href="https://github.com/NicoCourts/Grassmannian-Notes/raw/master/Grassmanian.pdf">pdf</a>, <a href="https://github.com/NicoCourts/Grassmannian-Notes">github</a>)
    </li>
    <li id="blurb2">
      <em>The Schur-Weyl Functor</em> (<a href="https://github.com/NicoCourts/Schur-Weyl-Functor/raw/master/SW-Functor.pdf">pdf</a>, <a href="https://github.com/NicoCourts/Schur-Weyl-Functor">github</a>)
    </li>
  </ul>
</div>
