<div class='wrapper'>
  <p>Here are the places you can find me around the net:</p>
  <ul>
    <li><a href='https://math.washington.edu/people/nicolas-courts'>My page</a> on the <a href='https://math.washington.edu/'>UW math website.</a></li>
    <li>I have a (rather sparse) <a href='https://github.com/NicoCourts'>GitHub account</a> where (in particular) you can see the code for the <a href='https://github.com/NicoCourts/NicoCourts.com-Front-End'>front end</a> of this site.</li>
    <li>My social media accounts:</li>
    <ul>
      <li><a href='http://www.facebook.com/ncourts'>Facebook</a></li>
      <li><a href='http://www.twitter.com/nicocourts'>Twitter</a></li>
      <li><a href='https://mathstodon.xyz/@canonical'>Mastodon</a></li>
    </ul>
  </ul>
</div>
