<div class='buffer'>
  <h3>(Graduate) Math Courses</h3>
  <ul>
    <li>Math 504/505/506—Algebra</li>
    <ul>
      <li>Groups, modules, rings, fields, Galois theory, representation theory, homological algebra, etc.</li>
    </ul>
    <li><em>Math 507/508/509—Algebraic Structures</em><sup>†</sup></li>
    <ul>
      <li>Advanced commutative algebra, homological algebra, and Lie groups and algebras.</li>
    </ul>
    <li>Math 534/535/536—Complex Analysis</li>
    <ul>
      <li>Complex variables, contour integration, conformal maps, harmonic functions, the Dirichlet problem, etc.</li>
    </ul>
    <li>Math 544/545/546—Topology and Geometry of Manifolds</li>
    <ul>
        <li>Topological and smooth manifolds, algebraic topology, covering space theory, differential geometry, etc.</li>
      </ul>
    <li>Math 561/562—Combinatorics</li>
    <ul>
      <li>Counting, posets, generating functions, inclusion/exclusion, graph theory, etc.</li>
    </ul>
    <li>Math 600—Directed Reading</li>
    <ul>
      <li><em>Algebraic Topology</em> Autumn 2016 (with Prof. Steve Mitchell)</li>
      <li><em>Representation Theory</em> Winter 2017 (with Prof. Julia Pevtsova)</li>
      <li><em>Representation Theory</em> Spring 2017 (with Prof. Julia Pevtsova)</li>
      <li><em>Abelian Categories</em> Spring 2018 (with Prof. James Zhang)</li>
    </ul>
  </ul>
  <h3>Computer Science Courses</h3>
  <ul>
    <li>CSE 143x—Accelerated Computer Programming I/II</li>
    <li>CSE 373—Data Structures and Algorithms</li>
    <li>CSE 517—Natural Language Processing</li>
    <li><em>CSE 599—Algorithms through a Geometric Lens</em><sup>†</sup></li>
  </ul>
  <h3>Statistics Courses</h3>
  <ul>
    <li><em>STAT 509—Econometrics</em><sup>†</sup></li>
    <li><em>STAT 535—Statistical Learning</em><sup>†</sup></li>
  </ul>
  <p>Courses marked with a dagger<sup>†</sup> are currently in-progress.</p>
</div>
