<div class='buffer'>
  <h3>(Graduate) Math Courses</h3>
  <ul>
    <li>Math 504/505/506&mdash;Algebra</li>
    <ul>
      <li>Groups, modules, rings, fields, Galois theory, representation theory, homological algebra, etc.</li>
    </ul>
    <li><em>Math 507/508/509&mdash;Algebraic Structures</em><sup>&dagger;</sup></li>
    <ul>
      <li>Advanced commutative algebra, homological algebra, and Lie groups and algebras.</li>
    </ul>
    <li>Math 534/535/536&mdash;Complex Analysis</li>
    <ul>
      <li>Complex variables, contour integration, conformal maps, harmonic functions, the Dirichlet problem, etc.</li>
    </ul>
    <li>Math 544/545/546&mdash;Topology and Geometry of Manifolds</li>
    <ul>
        <li>Topological and smooth manifolds, algebraic topology, covering space theory, differential geometry, etc.</li>
      </ul>
    <li>Math 561/562&mdash;Combinatorics</li>
    <ul>
      <li>Counting, posets, generating functions, inclusion/exclusion, graph theory, etc.</li>
    </ul>
    <li>Math 600&mdash;Directed Reading</li>
    <ul>
      <li><em>Algebraic Topology</em> Autumn 2016 (with Prof. Steve Mitchell)</li>
      <li><em>Representation Theory</em> Winter 2017 (with Prof. Julia Pevtsova)</li>
      <li><em>Representation Theory</em> Spring 2017 (with Prof. Julia Pevtsova)</li>
      <li><em>Abelian Categories</em> Spring 2018 (with Prof. James Zhang)</li>
    </ul>
  </ul>
  <h3>Computer Science Courses</h3>
  <ul>
    <li>CSE 143x&mdash;Accelerated Computer Programming I/II</li>
    <li>CSE 373&mdash;Data Structures and Algorithms</li>
    <li>CSE 517&mdash;Natural Language Processing</li>
    <li><em>CSE 599&mdash;Algorithms through a Geometric Lens</em><sup>&dagger;</sup></li>
  </ul>
  <h3>Statistics Courses</h3>
  <ul>
    <li><em>STAT 509&mdash;Econometrics</em><sup>&dagger;</sup></li>
    <li><em>STAT 535&mdash;Statistical Learning</em><sup>&dagger;</sup></li>
  </ul>
  <p>Courses marked with a dagger<sup>&dagger;</sup> are currently in-progress.</p>
</div>
