<div class='buffer'>
  <h3>(Graduate) Math Courses</h3>
  <ul>
    <li>Math 504/505/506&mdash;Algebra</li>
    <ul>
      <li>Groups, modules, rings, fields, Galois theory, representation theory, homological algebra, etc.</li>
    </ul>
    <li>Math 507/508/509&mdash;Algebraic Structures (notes on github: <a href="https://github.com/NicoCourts/Algebra/tree/master/Lie%20Algebra%20Notes">508</a>, <a href="https://github.com/NicoCourts/Algebra/tree/master/Homological%20Algebra%20Notes">509</a>)</li>
    <ul>
      <li>Advanced commutative algebra, Lie groups and algebras, and homological algebra.</li>
    </ul>
    <li>Math 534/535/536&mdash;Complex Analysis</li>
    <ul>
      <li>Complex variables, contour integration, conformal maps, harmonic functions, the Dirichlet problem, etc.</li>
    </ul>
    <li>Math 544/545/546&mdash;Topology and Geometry of Manifolds</li>
    <ul>
        <li>Topological and smooth manifolds, algebraic topology, covering space theory, differential geometry, etc.</li>
      </ul>
    <li>Math 561/562&mdash;Combinatorics</li>
    <ul>
      <li>Counting, posets, generating functions, inclusion/exclusion, graph theory, etc.</li>
    </ul>
    <li>Math 567/568/569&mdash;Algebraic Geometry<sup>&dagger;</sup> (<a href="https://github.com/NicoCourts/Algebra/tree/master/Algebraic%20Geometry">notes on github</a>)</li>
    <ul>
      <li>Affine and projective varieties, rings of functions, the Nullstellensatz, localization, dimension, algebraic curves, divisors, cohomology, genus, and the Riemann-Roch theorem.</li>
    </ul>
    <li>Math 581B/582B&mdash;Algebraic Groups and their Representations (<a href="https://github.com/NicoCourts/Algebra/tree/master/Algebraic%20Groups">notes on github</a>)</li>
    <ul>
      <li>Group schemes, Hopf algebras and representations; the Barsotti-Chevalley theorem, existence of quotients, descent, etc. Infinitesimal theory, the Borel fixed point theorem, parabolic subgroups, representations and highest weight theory.</li>
    </ul>
    <li>Math 582H&mdash;Hopf Algebras (<a href="https://github.com/NicoCourts/Algebra/tree/master/Hopf%20Algebra%20Notes">notes on github</a>)</li>
    <ul>
      <li>Hopf algebras, quantum groups, duality, actions, and representations of Hopf algebras and tensor and fusion categories.</li>
    </ul>
    <li>Math 583H&mdash;Cohomology Theories, Triangulated Categories, and Applications (<a href="https://github.com/NicoCourts/Algebra/tree/master/Triangulated%20Categories">notes on github</a>)</li>
    <ul>
      <li>Hochschild cohomology, group cohomology, homotopy and derived categories, dualizing complexes, and Artin-Schelter regular algebras.</li>
    </ul>
    <li>Math 600&mdash;Directed Reading</li>
    <ul>
      <li><em>Group Schemes and Representations</em> Autumn 2018-Winter 2020 (with Prof. Julia Pevtsova)</li>
      <li><em>Abelian Categories</em> Spring 2018 (with Prof. James Zhang)</li>
      <li><em>Representation Theory</em> Winter-Spring 2017 (with Prof. Julia Pevtsova)</li>
      <li><em>Algebraic Topology</em> Autumn 2016 (with Prof. Steve Mitchell)</li>
    </ul>
  </ul>
  <h3>Computer Science Courses</h3>
  <ul>
    <li>CSE 143x&mdash;Accelerated Computer Programming I/II</li>
    <li>CSE 373&mdash;Data Structures and Algorithms</li>
    <li>CSE 517&mdash;Natural Language Processing</li>
  </ul>
  <h3>Statistics Courses</h3>
  <ul>
    <li>STAT 509&mdash;Introduction to Mathematical Statistics</li>
  </ul>
  <p>Courses marked with a dagger<sup>&dagger;</sup> are currently in-progress.</p>
</div>
