<div class='wrap'>
  <div class='section'>
      <div class='contact'>
        <strong>Nico Courts</strong><br />
        University of Washington<br />
        Department of Mathematics<br />
        Box 354350<br />
        Seattle, WA 98195-4350
      </div>
  </div>  
  <div class='section'>
      <div class='title'><h3>Objective</h3></div>
      <div class='content'><span>To pursue my passion for mathematics and to understand how to better the world through its proliferation and application.</span></div>
  </div>
  <div class='section'>
    <div class='title'><h3>Education<br />History</h3></div>
    <div class='content'>
      <p><strong>Ph.D in Mathematics</strong> University of Washington, Seattle</p>
        <p>Autumn 2016 - Spring 2021 (expected)</p>
        <p>See <a routerLink='/courses'>this page</a> for a list of my graduate coursework.</p><br />
        <p><strong>Budapest Semesters in Mathematics</strong> Budapest, Hungary</p>
        <p>Algebraic Topology, Conjecture &amp; Proof, Cryptography, Differential Geometry.</p>
        <p>Autumn 2015</p><br />
        <p><strong>Bachelors of Science in Mathematics</strong> University of Southern California</p>
        <p><em>Magna Cum Laude</em>, Dean's list, Departmental Honors</p>
        <p>Autumn 2013 - Autumn 2015</p><br />
        <p><strong>Associates of Science in Mathematics</strong> Citrus College</p>
        <p>Spring 2011 - Spring 2013</p>
      </div>
</div>
</div>
