<div class='wrap'>
  <div class='section'>
      <div class='contact'>
        <strong>Nico Courts</strong><br />
        University of Washington<br />
        Department of Mathematics<br />
        Box 354350<br />
        Seattle, WA 98195-4350
      </div>
  </div>  
  <div class='section'>
      <div class='title'><h3>Objective</h3></div>
      <div class='content'><span>To pursue my passion for mathematics and to understand how to better the world through its proliferation and application.</span></div>
  </div>
  <div class='section'>
    <div class='title'><h3>Education<br />History</h3></div>
    <div class='content'>
      <p><strong>Ph.D in Mathematics</strong> University of Washington, Seattle</p>
        <p>Autumn 2016 - Spring 2021 (expected)</p>
        <p>See <a routerLink='/courses'>this page</a> for a list of my graduate coursework.</p><br />
        <p><strong>Budapest Semesters in Mathematics</strong> Budapest, Hungary</p>
        <p>Algebraic Topology, Conjecture &amp; Proof, Cryptography, Differential Geometry.</p>
        <p>Autumn 2015</p><br />
        <p><strong>Bachelors of Science in Mathematics</strong> University of Southern California</p>
        <p><em>Magna Cum Laude</em>, Dean's list, Departmental Honors</p>
        <p>Autumn 2013 - Autumn 2015</p><br />
        <p><strong>Associates of Science in Mathematics</strong> Citrus College</p>
        <p>Key of Knowledge, Dean's List, Honors Program</p>
        <p>Spring 2011 - Spring 2013</p>
      </div>
  </div>
  <div class='section'>
      <div class='title'><h3>Teaching<br /> History</h3></div>
      <div class='content'>
        <p><em>Graduate Teaching Assistant</em></p>
        <p>University of Washington, Seattle, WA</p>
        <p>Autumn 2016 - Present</p>
        <ul>
          <li><strong>As an instructor:</strong></li>
          <ul>
            <li><em>Math 124: Calculus I (Summer 2018).</em>
            <p>I put my own twist on the standard Calc I
                curriculum  by  deciding  to  focus  on  high-level  understanding  along  with
                cultivating problem-solving techniques and a mathematical mindset.</p><br />
                <p>This idea  was  loosely  based  on  that  of  the  flipped  classroom;  students  were
                encouraged  using  quizzes  to  read  the  textbook  before  any  material  was
                discussed in class and large portions of contact time with instructors were
                dedicated to working on challenging problem sets and presenting solutions
                to the class.</p><br />
                <p>Technology was used frequently and liberally as a way to both bolster understanding through visual aids and as a means to solicit frequent feedback from students to monitor their understanding and progress.</p></li>
          </ul><br />
          <li><strong>As a TA:</strong> Participated  in  several  aspects  of  instruction  including 
            demonstration of problem-solving techniques, student evaluation, and the administrative process.</li>
          <ul>
            <li>Math 120 (Au 17)</li>
            <li>Math 124 (Wi 17, Wi 19)</li>
            <li>Math 125 (Au 16, Sp 17)</li>
            <li>Math 126 (Su 17, Wi 18, Sp 18)</li>
            <li>Math 381 (Au 18)</li>
          </ul>
        </ul><br />
        <p><em>Lead Teaching Assistant</em></p>
        <p>SCS Noonan Scholars (previously South Central Scholars), Los Angeles, CA</p>
        <p>Summer 2016</p>
        <ul>
          <li>Independently developed and delivered approximately 50 hours of instruction
              and five exams to gifted university-bound students in calculus 2 and 3.</li>
              <li>Total of 100 contact hours, including daily supervised worksheet sessions.</li>
              <li>Took the initiative to deliver weekly lectures in higher mathematics (number
                  theory, knot theory, differential equations, etc.)  along with entry-level problems
                  that allowed students to get a sense of the “flavor” of these fields.</li>
        </ul>
        <p><em>Various Positions</em></p>
        <p>Citrus College, Glendora, CA</p>
        <p>Spring 2012 - Summer 2013</p>
        <ul>
          <li><strong>PAGE Program Tutor.</strong> Assisted a licensed teacher in the education of a class
            of middle school children intended to reinforce the previous year’s learning and
            to prevent “backsliding”.  Personally instructed a small group of students who
            were prepared to learn more advanced topics in intermediate algebra.</li>
          <li><strong>SIGMA Mentor.</strong> Took on a small group of students each semester utilizing
            a holistic approach to education – supplementing standard tutoring with more
            in-depth educational guidance and planning.</li>
          <li><strong>Math Tutor.</strong> Instructed students in the fast-paced Math Success Center where
            I provided homework help in all math classes through linear algebra and differential equations.</li>
        </ul>
      </div>
  </div>
  <div class='section'>
      <div class='title'><h3>Skills &amp;<br />Hobbies</h3></div>
      <div class='content'>
        <em>Languages known:</em>
        <ul>
          <li><strong>English</strong> This is my native language.</li>
          <li><strong>German</strong> Ich kann ziemlich gut Deutsch sprechen, lesen, und verstehen!</li>
          <li><strong>Hungarian</strong> Besz&eacute;lek csak egy kicsit magyarul.</li>
          <li><strong>Programming</strong> C++, C#, Go, Haskell, Java, LaTeX, PHP, Python.</li>
        </ul>
        <p><em>Computer Skills:</em> Web/Application Development, Server Administration, Sage, Mathematica, Windows, Linux, FreeBSD.</p><br />
        <p><em>Life Skills:</em> Critical Thinking, Abstract Reasoning, Communication, Objectivity, Empathy.</p><br />
        <p><em>Hobbies:</em> Hiking, Jogging, Sailing, Rollerskating, Appreciating the Wonders of the PNW.</p>
      </div>
  </div>
</div>
