<div class='wrapper'>	
    <p>Thank you for visiting my website!</p>
    <p>
        Below you will find my blog: my random collection of thoughts on math, life, nature, politics, animals, media, and whatever else my catches my fancy at the moment.
        I have got things close to how I want them, but there are still some moving pieces I am trying to finish here. Hopefully you don't find the user experience too atrocious while I finish things up. :)
    </p><hr />
    <div [ngClass]="this.startAt > 0 ? 'seeMore' : 'hidden'" (click)="prevPosts()">↟See Previous Posts↟</div>
    <div *ngFor="let p of postList | slice:startAt:startAt+showCount" [ngClass]="p.isshort ? 'postBox-short' : 'postBox'">
        <h3 *ngIf="!p.isshort" class="postTitle">{{p.title}}</h3>
        <div [ngClass]="p.isshort ? 'postBody-short' : 'postBody'" [innerHTML]="decode(p.body)"></div>
        <a href="/blog/{{p.urltitle}}"></a>
        <div *ngIf="!p.isshort" class="readMore"><a href="/blog/{{p.urltitle}}">Click to read more...</a></div>
        <div class="postFoot">{{posted(p)}}</div>
    </div>
    <div [ngClass]="morePosts() ? 'seeMore' : 'hidden'" (click)="laterPosts()">↶See More Posts↷</div>
</div>